<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenedor-principal">
        <div class="contenedor-izquierdo">
            <div class="titulo">
                <h1>RANSOMGUARD</h1>
                <h2>Ransomware Detection Application</h2>
            </div>
        </div>
        <div class="contenedor-derecho">
            <div class="Login">
                <h1>Log In</h1>
                <div class="formulario">
                    <form action="" class="formulario-login">
                        <p>Usuario</p>
                        <input type="text" name="username" id="username" placeholder="Ingresar el nombre de usuario">
                        <p>Contraseña</p>
                        <input type="password" name="pass" id="pass" placeholder="Ingresar cotraseña">
                        <button type="submit">Iniciar Sesión</button>
                    </form>
                </div>
                <p class="registro">No esta registrado?<a>Registrate</a></p>
            </div>
        </div>
    </div>
</body>
</html>