<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="left-container">
            <div class="header">
                <h1>RANSOMGUARD</h1>
                <h2>Ransomware Detection Application</h2>
            </div>
        </div>
        <div class="right-container">
            <div class="login-section">
                <h1>Log In</h1>
                <div class="form-container">
                    <form action="" class="login-form">
                        <p>Usuario</p>
                        <input type="text" name="username" id="username" placeholder="Ingresa tu usuario">
                        <p>Password</p>
                        <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña">
                        <button type="submit">Iniciar Sesión</button>
                    </form>
                </div>
                <p class="register-prompt">No esta resgistrado?<a href="#">Sign up</a></p>
            </div>
        </div>
    </div>
</body>
</html>