{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RANSOMGUARD</title>
    <link rel="stylesheet" href="{% static 'styles/signup.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="left-container">
                <h1 style="font-size: 4rem;">RANSOMGUARD</h1>
                <h2>Ransomware Detection Application</h2>
        </div>
        <div class="right-container">
            <div class="form-container">
                <h1 style="font-size: 2.5rem;">Sign Up</h1>
                <p>¿Ya tiene una cuenta?<a href="#"> Log in</a></p>

                <form action="{% url 'sign_up' %}" method="post" class="login-form">
                    {% csrf_token %}
                    <p style="margin-top: 0;">Usuario Nuevo</p>
                    <input type="text" name="username" id="username" placeholder="Nombre de usuario nuevo">
                    <p>Correo Electronico</p>
                    <input type="email" name="email" id="email" placeholder="examples@gmail.com">
                    <p>Contraseña Nueva</p>
                    <input type="password" name="password" id="password" placeholder="Contraseña nueva">
                    <p>Repetir Contraseña</p>
                    <input type="password" name="confpassword" placeholder="Repite la contraseña">
                    <button type="submit">Registrarse</button>
                </form>

                <p class="register-prompt">No esta resgistrado?<a href="#"> Sign up</a></p>
            </div>
        </div>
    </div>
</body>
</html>