{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <title>Aegis</title>
</head>
<body>
    <div class="container-main">
        <div class="container-navbar">
            <div class="navbar">
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}">
                        <i class="bi bi-house"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'detections' %}">
                        <img src="{% static 'img/logoML.png' %}" alt="logoML">
                       
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'login' %}">
                        <i class="bi bi-box-arrow-in-left"></i>
                    </a>
                </li>
            </div>
        </div>

        <div class="container-content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>