{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aegis</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="left-container">
            <h1 style="font-size: 4rem;">Ae<span style="color: #89B758;">Gis</span></h1>
            <h2>{% trans "Aplicación de detección de ransomware" %}</h2>
        </div>
        <div class="right-container">
            <div class="form-container">
                <h1 style="font-size: 2.5rem;">{% trans "Iniciar sesión" %}</h1>
                <form action="{% url 'login' %}" method="post" class="login-form" autocomplete="off">
                    {% csrf_token %}
                    <p style="margin-top: 0;">{% trans "Usuario" %}</p>
                    <input type="text" name="username" id="input_username" placeholder="{% trans 'Ingresa tu usuario' %}" required>
                    <p>{% trans "Contraseña" %}</p>
                    <input type="password" name="password" id="input_password" placeholder="{% trans 'Ingresa tu contraseña' %}" required>
                    <button type="submit">{% trans "Iniciar Sesión" %}</button>
                </form>
                <p class="register-prompt">{% trans "No está registrado?" %}<a href="{% url 'signUp' %}">{% trans "Regístrate" %}</a></p>
            </div>
        </div>
    </div>
</body>
<script>
    {% if error_message %}
        Swal.fire({
            icon: 'error',
            // title: 'Oops...',
            text: '{{ error_message }}',
            confirmButtonColor: '#3085d6',
            confirmButtonText: '{% trans "OK" %}'
        });
    {% endif %}
</script>
</html>