.content-detection, input{
    max-width: 100%;
    font-family: sans-serif;
}

h1{
    text-align: center;
}

p{
    margin:20px 0 5px 0;
}

form{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

input{
    width: 100%;
    padding: 4px 53px 4px 3px;
    background-color: #F8F8F8;
    border-radius: 5px;
    border-color: #F8F8F8;
}
button{
    width: 13%;
    margin: 4rem 0 0 40rem;
    background-color: #89B758;
    border: none;
    border-color: white;
    border-radius: 15px;
    padding: 14px 0px;
    color: white;
}

.box__inputs{
    display: flex;
    justify-content: center;
    gap: 15rem;
}

.box__inputs:last-of-type{
    margin-right: 29rem;
}

.swal2-confirm {
    padding: 10px 43px 7px 19px;
    font-size: 16px;
    background-color: #3085d6;
    border-radius: 5px;
}