{% extends "appWeb/index.html" %}
{% load static %}
{% block content %}
{% load i18n %}
<head>
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<div class="container__dashboard-main">
    <div class="container__dashboard__graph">
        <div class="flow-graph">
                <h2>{% trans "Flujo de Reales Positivos" %}</h2>
                <div class="input__date">
                    <div>
                        <form method="GET" action="{% url 'dashboard' %}">
                            <div>
                                <p>{% trans "Rango de periodo de tiempo" %}</p>
                                <input type="date" name="startDate" id="dateFlowGraph" value="{{ startDate }}">
                                <label>-</label>
                                <input type="date" name="endDate" id="endDate" value="{{ endDate }}">
                                <button type="submit" class="btn btn-primary">{% trans "Filtrar" %}</button>
                                <button><a href="{% url 'dashboard' %}?limpiar_filtro" class="btn btn-secondary">{% trans "Limpiar filtro" %}</a></button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <button><a href="{% url 'getExcelflowChart' %}"><i class="bi bi-download">&nbsp;&nbsp;&nbsp;</i>{% trans "Descargar Reporte" %}</a></button>
                    </div>
                </div>
                <!-- Gráfico de flujo -->
            <canvas id="flowChart" width="680" height="290" style="margin-top: .5rem"></canvas>
        </div>
        <div class="pie-chart">
            <h2>{% trans "Gráfica de Ransomware Maligno y Benigno" %}</h2>
            <div class="input__date">
                <form method="GET" action="{% url 'dashboard' %}">
                    <div>
                        <p>{% trans "Periodo de tiempo" %}</p>
                        <input type="date" name="start_date_pie_chart" id="start_date_pie_chart" value="{{ start_date_pie_chart }}">
                        <button type="submit" class="btn btn-primary">{% trans "Filtrar" %}</button>
                        <button type="submit" name="limpiar_filtro_pie_chart" class="btn btn-secondary">{% trans "Limpiar filtro" %}</button>
                    </div>
                </form>
                <div>
                    <p>{% trans "Leyendas" %}</p>
                    <p><i class="bi bi-file-fill" style="color: #FF6384;"></i>{% trans "Porcentaje Maligna" %}</p>
                    <p><i class="bi bi-file-fill" style="color: #36A2EB;"></i>{% trans "Porcentaje Benigna" %}</p>
                </div>
            </div>
            <canvas id="pieChart" width="680" height="250"></canvas>
        </div>           
    </div>
    <div class="container__dashboard__table">
        <div class="table-event">
            <h2>{% trans "Eventos registrados" %}</h2>
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Fecha" %}</th>
                        <th>{% trans "Tipo de Ransomware" %}</th>
                        <th>{% trans "Resultado" %}</th>
                        <th>{% trans "Porcentaje de Detección" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events_page %}
                        <tr>
                            <td>{{ event.detection_date|date:"d/m/Y" }}</td>
                            <td>{{ event.ransomware_type|default:"-" }}</td>
                            <td>
                                {% if event.ransomware_detected or "Malicioso por AbuseIPDB" in event.ransomware_type %}
                                    <span style="color: red;">{% trans "Malicioso" %}</span>
                                {% else %}
                                    <span style="color: blue;">{% trans "No Malicioso" %}</span>
                                {% endif %}
                            </td>
                            <td>{{ event.percentage_reliability|default:"-" }}%</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">{% trans "No hay eventos registrados." %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    
            <!-- Controles de Paginación -->
            <div class="pagination">
                {% if events_page.has_previous %}
                    <a href="?page=1">&laquo; {% trans "Primero" %}</a>
                    <a href="?page={{ events_page.previous_page_number }}">{% trans "Anterior" %}</a>
                {% endif %}
                
                <span>{% trans "Página" %} {{ events_page.number }} {% trans "de" %} {{ events_page.paginator.num_pages }}</span>
                
                {% if events_page.has_next %}
                    <a href="?page={{ events_page.next_page_number }}">{% trans "Siguiente" %}</a>
                    <a href="?page={{ events_page.paginator.num_pages }}">{% trans "Último" %} &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    const data = {{ data|safe }};
    console.log(data);
    
    const ctx = document.getElementById('flowChart').getContext('2d');
    const flowChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: data.labels,
            datasets: [{
                label: 'Real positivo',
                data: data.counts,
                borderColor: 'rgba(0, 123, 255, 0.6)',
                backgroundColor: 'rgba(0, 123, 255, 0.2)',
                pointBackgroundColor: 'rgba(0, 123, 255, 1)',
                pointBorderColor: 'rgba(0, 123, 255, 0.6)',
                pointHoverRadius: 6,
                pointRadius: 4,
                fill: true,
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Días'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Cantidad'
                    }
                }
            },
            plugins: {
                tooltip: {
                    enabled: true,
                    backgroundColor: 'rgba(255, 255, 255, 0.9)',
                    titleColor: '#333',
                    bodyColor: '#333',
                    borderColor: 'rgba(0, 123, 255, 0.8)',
                    borderWidth: 1,
                    padding: 10,
                    cornerRadius: 4,
                    callbacks: {
                        title: function(tooltipItem) {
                            return 'Fecha: ' + tooltipItem[0].label;
                        },
                        label: function(tooltipItem) {
                            return 'Real positivo: ' + tooltipItem.raw;
                        }
                    }
                },
                legend: {
                    display: false
                }
            }
        }
    });
</script>

<script>
    const pieValues = {{ pie_values|safe }};

    const piectx = document.getElementById('pieChart').getContext('2d');
    const pieChart = new Chart(piectx, {
        type: 'pie',
        data: {
            labels: ['Maligna', 'Benigna'],
            datasets: [{
                data: pieValues,
                backgroundColor: ['#FF6384', '#36A2EB'],
            }]
        },
        options: {
        responsive: false,
        plugins: {
            tooltip: {
                callbacks: {
                    label: function(tooltipItem) {
                        let label = tooltipItem.label || ''; // 'Maligna' o 'Benigna'
                        let value = tooltipItem.raw || 0; // Valor numérico (ej. 50)
                        
                        // Retorna la etiqueta con el valor y el sufijo personalizado
                        return `${value}% de ${label.toLowerCase()}`;
                    }
                }
            },
            legend: {
                display: false,
                position: 'top',
            }
        }
    }
    });
</script>
{% endblock %}