{% extends "appweb/index.html" %}
{% load static %}
{% block content %}
{% load i18n %}
<head>
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
</head>
<div class="container__dashboard-main">
    <div class="container__dashboard__graph">
        <div class="flow-graph">
                <h2>{% trans "Flujo de Reales Positivos" %}</h2>
                <div class="input__date">
                    <div>
                        <p>{% trans "Periodo de tiempo" %}</p>
                        <input type="date" name="dateFlowGraph" id="dateFlowGraph">
                    </div>
                    <div>
                        <button type="submit"><i class="bi bi-download">&nbsp;&nbsp;&nbsp;</i>{% trans "Descargar Reporte" %}</button>
                    </div>
                </div>
        </div>
        <div class="pie-chart">
                <h2>{% trans "Grafica de Ransomware Maligno y Benigno" %}</h2>
                <div class="input__date">
                    <div>
                        <p>{% trans "Periodo de tiempo" %}</p>
                        <input type="date" name="datePieChart" id="datePieChart">
                    </div>
                    <div>
                        <p>{% trans "Leyendas" %}</p>
                        <p>{% trans "Porcentaje Maligna" %}</p>
                        <p>{% trans "Porcentaje Benigna" %}</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="container__dashboard__table">
        <div class="table-event">
            <h2>{% trans "Eventos registrados" %}</h2>
        </div>
    </div>
</div>

{% endblock %}